#cssmenu ul {margin: 0; padding: 7px 6px 0; background: #006600 url(images/overlay.png) repeat-x 0 -110px; line-height: 100%; border-radius: 1em; font: normal .8em/1.5em Arial, Helvetica, sans-serif; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4); -moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);}
#cssmenu li {margin: 0 5px; padding: 0 0 8px; float: left; position: relative; list-style: none; }
#cssmenu a,
#cssmenu a:link {font-family: Helvetica, Arial, sans-serif; font-size:15px;font-weight: normal; color: #e7e5e5; text-decoration: none; display: block; padding:  8px 20px; margin: 0; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;	 text-shadow: 0 1px 1px rgba(0,0,0, .3); }
#cssmenu a:hover {background: #000; color: #fff;}
#cssmenu .active a,
#cssmenu li:hover > a {background: #666 url(images/overlay.png) repeat-x 0 -40px; color: #fff; border-top: solid 1px #f8f8f8; -webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2); -moz-box-shadow: 0 1px 1px rgba(0,0,0, .2); box-shadow: 0 1px 1px rgba(0,0,0, .2); text-shadow: 0 1px 0 rgba(255,255,255, 1); }
#cssmenu ul ul li:hover a,
#cssmenu li:hover li a {background: none; border: none; color: #666; -webkit-box-shadow: none; -moz-box-shadow: none;}
#cssmenu ul ul a:hover {background: #8f8f8f url(images/overlay.png) repeat-x 0 -100px !important; color: #fff !important; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; text-shadow: 0 1px 1px rgba(0,0,0, .1);}
#cssmenu li:hover > ul {display: block;}
#cssmenu ul ul {display: none; margin: 0; padding: 0; width: 185px; position: absolute; top: 40px; left: 0; background: #ddd url(images/overlay.png) repeat-x 0 0; border: solid 1px #b4b4b4; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3); -moz-box-shadow: 0 1px 3px rgba(0,0,0, .3); box-shadow: 0 1px 3px rgba(0,0,0, .3);}
#cssmenu ul ul li {float: none; margin: 0; padding: 3px; }
#cssmenu ul ul a {font-weight: normal; text-shadow: 0 1px 0 #fff; }
#cssmenu ul:after {content: '.'; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
* html #cssmenu  ul {height: 1%;}
#mainmenu > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	line-height: 1;}

/* The container */
#mainmenu> ul {
	display: block;
	position: relative;
	width: 150px;
}

	/* The list elements which contain the links */
	#mainmenu> ul li {
		display: block;
		position: relative;
		margin: 0;
		padding: 0;
		width: 150px;
}

ot-button-blue, .ot-button-download {
background: #F5F5F5 url(../images/download_icon.png) 10px 9px no-repeat;
border: 1px solid #d4d4d4;
border-bottom: 1px solid #bbb;
border-radius: 10px;
text-align: left;
font-weight:bold;
text-indent:25px;
padding: 10px;
text-decoration: none;
display:inline-block;
-webkit-box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
-moz-box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
-o-box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
}

.ot-button-add{
background: #F5F5F5 url(../images/add_icon.png) 10px 9px no-repeat;
border: 1px solid #d4d4d4;
border-bottom: 1px solid #bbb;
border-radius: 10px;
text-align: left;
font-weight:bold;
text-indent:25px;
padding: 10px;
text-decoration: none;
display:inline-block;
-webkit-box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
-moz-box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
-o-box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
}


.ot-button-edit{
background: #F5F5F5 url(../images/edit_icon.png) 10px 9px no-repeat;
border: 1px solid #d4d4d4;
border-bottom: 1px solid #bbb;
border-radius: 10px;
text-align: left;
font-weight:bold;
text-indent:20px;
padding: 10px;
text-decoration: none;
display:inline-block;
-webkit-box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
-moz-box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
-o-box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
}

.ot-button-logout{
background: #F5F5F5 url(../images/logout_icon.png) 10px 9px no-repeat;
border: 1px solid #d4d4d4;
border-bottom: 1px solid #bbb;
border-radius: 10px;
text-align: left;
font-weight:bold;
text-indent:18px;
padding: 10px;
text-decoration: none;
display:inline-block;
width:100px;
-webkit-box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
-moz-box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
-o-box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
}



.ot-button-print {
background: #F5F5F5 url(../images/print_icon.png) 10px 10px no-repeat;
border: 1px solid #d4d4d4;
border-bottom: 1px solid #bbb;
border-radius: 10px;
text-align: left;
font-weight:bold;
text-indent:25px;
padding: 10px;
text-decoration: none;
display:inline-block;
-webkit-box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
-moz-box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
-o-box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
}



/* Green Button Hover */

.ot-button-green:hover {
background:#E1E1E1 ;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0067C7', endColorstr='#006BD6',GradientType=0 );

border-bottom: 1px solid #999;
cursor: pointer;
text-decoration:none;
}

.ot-button-print:hover {
background:#E1E1E1 url(../images/print_icon.png) 10px 10px no-repeat;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0067C7', endColorstr='#006BD6',GradientType=0 );
border-bottom: 1px solid #999;
cursor: pointer;
text-decoration:none;
}

.ot-button-add:hover {
background:#E1E1E1 url(../images/add_icon.png) 10px 10px no-repeat;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0067C7', endColorstr='#006BD6',GradientType=0 );
border-bottom: 1px solid #999;
cursor: pointer;
text-decoration:none;
}

.ot-button-edit:hover {
background:#E1E1E1 url(../images/edit_icon.png) 10px 10px no-repeat;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0067C7', endColorstr='#006BD6',GradientType=0 );
border-bottom: 1px solid #999;
cursor: pointer;
text-decoration:none;
}

.ot-button-logout:hover {
background:#E1E1E1 url(../images/logout_icon.png) 10px 10px no-repeat;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0067C7', endColorstr='#006BD6',GradientType=0 );
border-bottom: 1px solid #999;
cursor: pointer;
text-decoration:none;
}

.ot-button-download:hover {
background:#E1E1E1 url(../images/download_icon.png) 10px 10px no-repeat;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0067C7', endColorstr='#006BD6',GradientType=0 );
border-bottom: 1px solid #999;
cursor: pointer;
text-decoration:none;
}





		/* General link styling */
		#mainmenu> ul li a {
			/* Layout */
			display: block;
			position: relative;
			margin: 0;
			border: 1px solid #ffffff;
			padding: 11px 20px;
			width: 110px;

			/* Typography */
			font-family: Helvetica, Arial, sans-serif;
			color: #d8d8d8;
			text-decoration: none;
			text-transform: uppercase;
			text-shadow: 0 1px 1px #000;
			font-size: 13px;
			font-weight: 300;

			/* Background & effects */
			background: #20A35A;
		}

		/* Rounded corners for the first link of the menu/submenus */
		#mainmenu > ul li:first-child>a {
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			border-top: 0;
		}

		/* Rounded corners for the last link of the menu/submenus */
		#mainmenu > ul li:last-child>a {
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			border-bottom: 0;
		}


		/* The hover state of the menu/submenu links */
		#mainmenu> ul li>a:hover, #cssmenu > ul li:hover>a {
			color: #fff;
			text-shadow: 0 1px 0 rgba(0, 0, 0, .25);
			background: #f23f37;
			background: -webkit-linear-gradient(bottom, #f23f37, #f45d57);
			background: -ms-linear-gradient(bottom, #f23f37, #f45d57);
			background: -moz-linear-gradient(bottom, #f23f37, #f45d57);
			background: -o-linear-gradient(bottom, #f23f37, #f45d57);
			border-color: transparent;
		}

		/* The arrow indicating a submenu */
		#mainmenu > ul .has-sub>a::after {
			content: '';
			position: absolute;
			top: 16px;
			right: 10px;
			width: 0px;
			height: 0px;

			/* Creating the arrow using borders */
			border: 4px solid transparent;
			border-left: 4px solid #d8d8d8;
		}

		/* The same arrow, but with a darker color, to create the shadow effect */
		#mainmenu> ul .has-sub>a::before {
			content: '';
			position: absolute;
			top: 17px;
			right: 10px;
			width: 0px;
			height: 0px;

			/* Creating the arrow using borders */
			border: 4px solid transparent;
			border-left: 4px solid #000;
		}

		/* Changing the color of the arrow on hover */
		#mainmenu > ul li>a:hover::after, #cssmenu > ul li:hover>a::after {
			border-left: 4px solid #fff;
		}

		#mainmenu> ul li>a:hover::before, #cssmenu > ul li:hover>a::before {
			border-left: 4px solid rgba(0, 0, 0, .3);
		}


		/* THE SUBMENUS */
		#mainmenu > ul ul {
			position: absolute;
			left: 150px;
			top: -9999px;
			padding-left: 5px;
			opacity: 0;
			/* The fade effect, created using an opacity transition */
			-webkit-transition: opacity .3s ease-in;
			-moz-transition: opacity .3s ease-in;
			-o-transition: opacity .3s ease-in;
			-ms-transition: opacity .3s ease-in;
		}

		/* Showing the submenu when the user is hovering the parent link */
		#mainmenu > ul li:hover>ul {
			top: 0px;
			opacity: 1;
		}
/*********** BUTTON *************/
.cbdb-menu li {
	display: block;
	float: left;
	line-height: 35px;
	list-style:none;
	margin: 0 5px;
}
.cbdb-menu li a {
	/* This generators the gradient on top of the solid color */
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgba(255,255,255,.5)),
		color-stop(1, rgba(0,0,0,.1))
	);
	background-image: -moz-linear-gradient(
		center top,
		rgba(255,255,255,.5) 0%,
		rgba(0,0,0,.1) 100%
	);
	color: #f4f4f4; /* IE */
	color: rgba(255, 255, 255, 0.8);
	display: block;
	font: bold 18px "Lucida Grande","Helvetica,Arial",sans-serif;
	outline:none;
	padding: 5px 15px;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
}
	.cbdb-menu li a:active {
		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0,rgba(255,255,255,.5)),
			color-stop(.1,rgba(255,255,255,.2)),
			color-stop(.85, rgba(0,0,0,.2)),
			color-stop(100, rgba(0,0,0,.4))
		);
		background-image: -moz-linear-gradient(
			center bottom,
			rgba(255,255,255,.5) 0%,
			rgba(255,255,255,.2) 10%,
			rgba(0,0,0,.2) 85%,
			rgba(0,0,0,.4) 100%
		);
	}
/* Dark Text */
.cbdb-menu li a.dark {
	color: #333; /* IE */
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
}
/*********** COLORS *************/
/* Create your own class for your own colors */
.red {
	background: #B80202;
	border: #B80202 1px solid
}
	.red:hover, .red:focus{
		background-color:#e30606
	}
.green {
	background: #46c431;
	border: #46c431 1px solid
}
	.green:hover,.green:focus {
		background-color:#44e329
	}
.yellow {
	background: #D9CE1C;
	border: #D9CE1C 1px solid
}
	.yellow:hover,.yellow:focus {
		background-color:#eee117
	}
.cyan {
	background: #23c6de;
	border: #23c6de 1px solid
}
	.cyan:hover,.cyan:focus {
		background-color:#18d8f4
	}
.blue {
	background: #3271d9;
	border: #3271d9 1px solid
}
	.blue:hover,.blue:focus {
		background-color:#377ef2
}
.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 20px;
}

.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-success h4 {
    color: #468847;
}

.alert-danger,
.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.alert-danger h4,
.alert-error h4 {
    color: #b94a48;
}

.alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-info h4 {
    color: #3a87ad;
}

.alert-block {
    padding-top: 14px;
    padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
    margin-bottom: 0;
}

.alert-block p + p {
    margin-top: 5px;
}
